<section class="admin-post">
      <h3 class="centered">Διαχειριστείτε τις δημοσιεύσεις της ιστοσελίδας</h3>
      <table class="admin-table">
        <tr>
          <th> N</th>
          <th>Τίτλος</th>
          <th>Είδος</th>
          <th>Διαχειριστής</th>
          <th>Ενέργεια</th>
        </tr>
        {{#each posts}}
            <tr>
            <td>{{this.post_id}}</td>
            <td> {{this.title}} </td>
            <td> {{this.eidos}} </td>
            <td> {{this.admin_mail}} </td>
            <td><button class='delete' id="delete-{{this.post_id}}"><img src='/images/delete_icon.png'></img></button></td>
            </tr>
        {{/each}}
        {{!-- post_id, post.title, post.upotitlos, post.image, post.post_text, eidos, admin_mail --}}
      </table>
      <div class="admin-buttons"><button id='btnNew-post'>Προσθήκη νέας δημοσίευσης</button></div>
    </section>

    <section>
      <div class="PopUpForm not-displayed">
      <div>	<button title="Close" class="close-btn">&times;</button>
        <div class="container">
          <form class="admin-form" id='new-post' action="/newPost" method="POST">
              <div class="title">Υποβολή νέας δημοσίευσης</div>
              <div class="FlexInput">
                  <label>
                    Τίτλος δημοσίευσης
                    <input type="text" name="title" placeholder="Τίτλος" required>
                  </label>
                  <label>Υπότιτλος
                    <input type="text" name="subtitle" placeholder="Υπότιτλος (προαιρετικά)">
                  </label>
              </div>
              <br>
              <label for="type">Είδος δημοσίευσης</label>
              <select name="post_type" id="type">
                <option value='Διαγωνισμός'>Διαγωνισμός</option>
                <option value="Βιβλιοπαρουσίαση">Βιβλιοπαρουσίαση</option>
                <option value="Άλλο">Άλλο</option>
              </select>
              <br>
              <br>
              <label for="input_img">Υποβολή εικόνας δημοσίευσης:</label>
                <input type="file" id="input-img" name="input-img" accept="image/*">
              <br>
              <br>
              <label for='article-input'>Κείμενο δημοσίευσης
              </label>
              <br>
              <textarea id='article-input' name="article_text" placeholder="Πληκτρολογείστε το κείμενο σας..." rows="5"></textarea>
              <div id='submit'>
                <input type="submit">
              </div>
          </form>
        </div>
      </div>
    </div>
    </section>