<article class = "solo-book">
    <div class="main-info">
        <div class="left">
            <h1>
                {{allDetails.title}}
            </h1>
            <h3>
                {{#each allDetails.writers}}
                    <a href="/writer/{{this.id}}" class="red-link">
                    {{this.name}}
                    </a>
                {{/each}}
            </h3>
        </div>
        <div class="right">
            <h1 class="price {{#if allDetails.realPrice}} old-price{{/if}}">
                {{allDetails.price}}&#8364;
            </h1>
            {{#if allDetails.realPrice}}
            <h1 class="price">
                {{allDetails.realPrice}}&#8364;
            </h1>
            {{/if}}
            <h3 class="availability">
                {{allDetails.availability}}
            </h3>
        </div>
    </div>
    <img class="article-img" src="/images/db-images/{{allDetails.ISBN}}.jpg">
    
    <p class="pretty"> 
        {{allDetails.summary}}
    </p>
    <table>
        <th>Χαρακτηριστικά</th>
        {{#each infoToPrint}}
            {{#if this}}
                <tr>
                    <td><strong>{{@key}}</strong></td>
                    <td>{{this}}</td>
                </tr>
            {{/if}}
        {{/each}}
            {{#if allDetails.Genres}}
                <tr>
                    <td><strong>Είδος</strong></td>
                    <td>
                    {{#each allDetails.Genres}}
                    {{this}}<br>
                    {{/each}}
                    </td>
                </tr>
            {{/if}}

            {{#if allDetails.Subjects}}
                <tr>
                    <td><strong>Θέματα</strong></td>
                    <td>
                    {{#each allDetails.Subjects}}
                    {{this}}<br>
                    {{/each}}
                    </td>
                </tr>
            {{/if}}
        
    </table>
</article>