{{> slideshow}}

<main>
    <article>
        <h1>
            Νέες Κυκλοφορίες
        </h1>

        <div class="book-container" id="new-books-container">
          {{#each newBooks}}
          <div class="book-box">
              <a class="book-link" href="/book/{{this.book_id}}">
                  <img src="images/db-images/{{this.image}}" alt="Εξώφυλλο βιβλίου" class="book-image">
                  <div class="icon-box">
                      <input id="heart{{this.book_id}}-new" type="checkbox" class="heart-input" {{#if this.fav}}checked{{/if}}/>
                      <label for="heart{{this.book_id}}-new" ><i class="fa fa-heart" aria-hidden="true"></i></label>
                      <button class="fa cart-button" id="add-cart{{this.book_id}}-new">&#xf07a;</button>
                  </div>
              </a>
              <div class="book-info">
                  <div>
                      <a class="book-title" href="/book/{{this.book_id}}">{{this.title}}</a>
                  </div>
                  <div>
                      {{#each this.writers}}
                          <a class="red-link" href="/writer/{{this.id}}">{{this.name}}</a>
                      {{/each}}
                  </div>
                  <span class="prices">
                      <span {{#if this.realPrice}} class="old-price"{{/if}}>{{this.price}}&#8364;</span>
                          {{#if this.realPrice}}
                              <br><span>{{this.realPrice}}&#8364;</span>
                          {{/if}}
                  </span>
              </div>
                      
          </div>
          {{/each}}
        </div>

    </article>

    <article>
      <h1>
          Best sellers
      </h1>
      <div class="book-container" id="bestsellers-container">
        {{#each bestsellers}}
          <div class="book-box">
              <a class="book-link" href="/book/{{this.book_id}}">
                  <img src="images/db-images/{{this.image}}" alt="Εξώφυλλο βιβλίου" class="book-image">
                  <div class="icon-box">
                      <input id="heart{{this.book_id}}-bs" type="checkbox" class="heart-input" {{#if this.fav}}checked{{/if}}/>
                      <label for="heart{{this.book_id}}-bs" ><i class="fa fa-heart" aria-hidden="true"></i></label>
                      <button class="fa cart-button" id="add-cart{{this.book_id}}-bs">&#xf07a;</button>
                  </div>
              </a>
              <div class="book-info">
                  <div>
                      <a class="book-title" href="">{{this.title}}</a>
                  </div>
                  <div>
                      {{#each this.writers}}
                          <a class="red-link" href="/writer/{{this.id}}">{{this.name}}</a>
                      {{/each}}
                  </div>
                  <span class="prices">
                      <span {{#if this.realPrice}} class="old-price"{{/if}}>{{this.price}}&#8364;</span>
                          {{#if this.realPrice}}
                              <br><span>{{this.realPrice}}&#8364;</span>
                          {{/if}}
                  </span>
              </div>
                      
          </div>
          {{/each}}
      </div>
    </article>

    <div id="news-container">
    {{#each articles}}
      <article>
          <h1>
              {{this.post_type}}
          </h1>
          <h2>
              {{this.title}}
          </h2>
          <h3>
            {{this.upotitlos}}
          </h3>
          <img {{#if this.image}} src="/images/{{this.image}}" {{/if}} {{#unless this.image}} src="images/greek-lit-background.jpg" {{/unless}} alt="Εικόνα Βιβλιοπαρουσίασης" class="article-img">
            <p class="pretty {{#if this.shortened}}shortened{{/if}}" > 
                {{this.post_text}}
            </p>
            {{#if this.shortened}}<button class="see-more-button">Διαβάστε περισσότερα...</button>{{/if}}
      </article>
      {{/each}}
    </div>

    <hr>
    <div id="banner-div">
      <div><a href=""><img src="/images/banner1.png"></a></div>
      <div><a href="/sales"><img src="/images/banner2.jpg"></a></div>
      <div><a href=""><img src="/images/banner3.jpg"></a></div>
    </div>
    
    <button id="top-btn"><i class="fa fa-caret-up"></i></button>

    <script src="/javascripts/container-arrows.js"></script>
    <script src="/javascripts/book-effects.js"></script>

    <div id="product-added-alert">
      Το προϊόν προστέθηκε επιτυχώς!
    </div>

  </main>