<article class = "solo-writer">
        <h1>
            {{writerDetails.name}}
        </h1>
        {{#if writerDetails.image}}
            <img class="article-img" src="/images/db-images/{{writerDetails.image}}">
        {{/if}}
        {{#unless writerDetails.image}}
            <img class="article-img" src="/images/generic-person-icon.png">
        {{/unless}}

        {{#if writerDetails.bio}}
        <p class="pretty"> 
            {{writerDetails.bio}}    
        </p>
        {{/if}}
        <div class="info-box">
            <h2 class="info-box-header">Βιβλία του συγγραφέα</h2>
            {{#each books}}
                <div class="book-box">
                    <a class="book-link" href="/book/{{this.book_id}}">
                    <img src="/images/db-images/{{this.image}}" alt="Εξώφυλλο βιβλίου" class="book-image">
                    <div class="icon-box">
                        <input id="heart{{this.book_id}}" type="checkbox" />
                        <label for="heart{{this.book_id}}" ><i class="fa fa-heart" aria-hidden="true"></i></label>
                        <button class="fa cart-button" id="add-cart{{this.book_id}}">&#xf07a;</button>
                    </div>
                    </a>
                <div class="book-info"><div><a class="book-title" href="/book/{{this.book_id}}">{{this.title}}</a></div>
                <div>{{#each this.writers}}
                        <a class="red-link" href="/writer/{{this.id}}">{{this.name}}</a>
                    {{/each}}
                </div><div>{{this.price}}&#8364;</div></div>
                </div>
            {{/each}}
        </div>
</article>